{% extends "auth/base.html" %}
{% block title %}忘记密码{% endblock %}

{% block context %}
<div>
    {% for item in form %}
    {% if item.errors %}
    <p>{{item.errors[0] }}</p>
    {% endif %}
    {% endfor %}
</div>
<form action="{{ url_for('web.forget_password_request') }}" method="post">
    <p>
        <label for="email">邮箱账号：</label>
        <input id="email" name="email" type="text" placeholder="请输入注册邮箱" value="{{ form.data[email] | default('',True) }}">
    </p>
    <input type="submit" value="发送邮件">
</form>
{% endblock %}