{% extends "base.html" %}
{% block title%}detail{% endblock%}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock%}
{% block content %}
<div class="book_detail">
    <div class="col-md-3">
        <img src="{{ book.image }}" height="360px"/>
    </div>
    <div class="detail col-md-6 col-md-offset-1">
        <p class="h3">{{ book.title }}</p>
        <p>出版社：{{ book.publisher }}</p>
        <p>页数：{{ book.author }}</p>
        <p>作者：{{ book.price }}</p>
        <p class="summary text-omitted">{{ book.summary }}</p>
    </div>
</div>
<div class="interaction">
    <form action="{{ url_for('web.save_to_gifts', isbn=book.isbn ) }}" method="GET">
        <input type="submit" value="赠送此书">
    </form>
    <form action="{{ url_for('web.save_to_wish', isbn=book.isbn ) }}" method="GET">
        <input type="submit" value="收藏到心愿清单">
    </form>
</div>
<div>
    {% if gifts.total!= 0 and not has_in_gifts %}
    <div style="margin-top:30px;" class="row">
        <div class="col-md-3"><span class="description-title">向他们请求此书</span></div>
    </div>
    <hr style="margin-top:5px;"/>
    {% for gift in gifts.trade %}
    <div style="margin-top:30px;" class="row">
        <div class="col-md-1">
            {{ gift.user_name }}
        </div>
        <div class="col-md-2 description-font">
            上传于{{ gift.time }}
        </div>
        <div class="col-md-2">
            <a class="btn-normal"
               href="">向他请求此书</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if wishs.total != 0 and has_in_gifts %}
    <div style="margin-top:30px;" class="row">
        <div class="col-md-3"><span class="description-title">向他们赠送此书</span></div>
    </div>
    <hr style="margin-top:5px;"/>
    {% for wish in wishs.trade %}
    <div style="margin-top:30px;" class="row">
        <div class="col-md-1">
            {{ wish.user_name }}
        </div>
        <div class="col-md-2 description-font">
            上传于{{ wish.time }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}